# CMake ignore
cmake_install.cmake
CMakeCache.txt
CMakeFiles
PhaseConfig.h
Makefile
lib
_deps

# Other
notes.txt
format.txt

# Stockfish and Arena
stockfish
arena

# Build Ignore
build

# VSCode Settings
.vscode

# Logging Output
logging